@font-face {
    font-family: Ribbon;
    src: url('/assets/Ribbon_V2_2011.otf');
    font-weight: bold;
}

@font-face {
    font-family: Carton;
    src: url('/assets/Carton-Slab.otf');
    font-weight: bold;
}