/* for all sass variables */

/* darkside of the moon(dark gray-blue)*/
$dm: #121D1C;

/* part-time dreamcatch(dark teal/blue)*/
$ptd: #0F4C5A;

/* mermaid of the moon(teal)*/
$mom: #4F9593;

/* mermaids wont tell(bright teal)*/
$mwt: #89DBBF;

/* footsteps of a monk(bright gray)*/
$fm: #DBDBD3;

 body {
          background:$dm;
    }