@import "variables";
@import "fonts";

.ptd {
	color: $ptd;
}

.mwt {
	color: $mwt;
}

.cards {
  position: absolute;
  left: 30px;
  top: 100px;
}

.deck {
  position: absolute;
  right: 30px;
  top: 100px;
}

.filters {
  position: absolute;
  bottom: 40px;
  left: 30px;
}

.count {
  display: inline-block;
  padding-left: 100px;
  color: $fm;
}

.title {
  font-family: Carton;
  color: $fm;
}

.hidden {
  display: none;
}