@import "variables";
@import "fonts";

.ptd {
	color: $ptd;
}

.mwt {
	color: $mwt;
}

.cards {
  position: absolute;
  left: 30px;
  top: 100px;
}

.deck {
  position: absolute;
  right: 30px;
  top: 100px;
}

.filters {
  position: absolute;
  bottom: 40px;
  left: 30px;
}