@import "variables";

.parallax-container {
    height: 500px;
  }


.parallax:img {
    transform: none;
  }

.dc-button {
	color: $dm;
	font-weight: bold;
	font-size: 140%;
	background-color: $mwt;
	padding: 10px 20px;
	display: block;
	text-decoration: none;
	border:0px solid;
	width: 300px;
	margin:0px auto;
	margin-top:50px;
}

.dc-button:hover {
	background-color: $mom;
}

.home-text {
	color: $fm;
}