@import "variables";
@import "fonts";

.nav-link {
	color: $mwt;
	text-decoration: none;
}

.nav-link:hover {
	color: $mom;
	text-decoration: none;
}

.inline-right {
	display: inline;
	float: right;
}