@import "variables";
@import "fonts";

.nav-link {
	margin-right: 20px;
	color: $mwt;
	text-decoration: none;
	display:inline-block;
}

.nav-link:hover {
	color: $mom;
	text-decoration: none;
}

.nav-link-sm {
	color: $mwt;
	text-decoration: none;
	font-size: 80%;
	text-align: center;
	position: relative;
	bottom: 27px;
}

.nav-link-sm:hover {
	color: $mom;
	text-decoration: none;
	text-align: center;
}

.nav-link-lg {
	margin-left: 20px;
	color: $mwt !important;
	text-decoration: none;
	display: inline-block;
}

.nav-link-lg:hover {
	color: $mom !important;
	text-decoration: none;
}

.inline-right {
	display: inline;
	float: right;
}

.inline-top-right {
	display:inline-block;
	float: right;
	clear: right;
}

.user-info {
	position: fixed;
  top: 10px;
  right: 5px;
}