.username {
  font-family: Carton;
  color: $mwt;
}

.deck-title {
  font-family: Carton;
  color: $fm;
}

.chip-name {
  font-family: Carton;
  background-color: $fm;
  color: $mwt;
  text-decoration: none;
}