<%= render partial: "layouts/navbar" %>
<div class="container title">
  <table>
    <thead>
      <th>
        Name
      </th>
      <th>
        Color(s)
      </th>
      <th>
        Created by
      </th>
    </thead>
    <tbody>
      <% @decks.each do |deck| %>
        <tr>
          <td>
            <%= link_to deck.name, deck_path(deck.id) %>
          </td>
          <td>
            N/A
          </td>
          <td>
            <div class="chip chip-name">
              <%= link_to image_tag(deck.user.image_url), user_path(deck.user.id) %>
              <%= link_to deck.user.username, user_path(deck.user.id) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>