<%= render partial: "layouts/navbar" %>
<div class="container">
  <h2 class="logo-decked"> Name Your Deck: </h2>
  <%= form_for @deck do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Continue", class: "dc-button" %>
  <% end %>
</div>
