<div class="col-md-12">
	<h2 class="logo-top">
		<%= link_to "Top", root_path, class: "logo-top" %>
	</h2>
	<h2 class="logo-decked">
		<%= link_to "Decked", root_path, class: "logo-decked" %>
	</h2>
	<h3 class="inline-right">
		<% if @user %>
			<%= link_to "#{@user.screen_name}", "#", class: "nav-link" %>
		<% else %>
			<%= link_to "Login!", "#", class: "nav-link" %>
		<% end %>
	</h3>
</div>